parameters:
	level: 5
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#Instantiated class ProjectServiceContainer not found\.#'
			path: src/Container/ContainerBuilderFactory.php
			count: 1
